.AnnualWaterReduction{
  background-color: #fff;
  padding: 20px 60px;
}
.AnnualWaterReductionHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AnnualWaterReductionHeadertitle {
  font-weight: 500;
font-size: 17px;
line-height: 20px;
}



#AnnualWaterReductionBarNode{
  
}